@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

.heroStyling{
    background-color: rgba(0, 0, 0, 0.397);
    font-family: "Gilda Display", serif;
    text-align: center;

    h3{
        color: white;
        font-size: 32px;
        font-weight: 400;
        padding-top: 4vw;
    }

    p{
        color: rgb(231, 230, 230);
        padding: 0 33vw;
        font-size: 14px; 
        padding-bottom: 4vw;
        text-align: left;
        font-weight: 100;
    }



}